#form {
  background-color: blue;
  width: 100px;
  height: 100px;
  border: 1px solid;
  .form__content {
    display: flex;
    align-items: center;
    .form__left {
      padding: 20px;
    }
  }
}

